/*
 * Defines the layout related styles for the application
 * */

@font-face {
    font-family: CafeDeParis;
    src: url("/static/fonts/CafeDeParisSans-BWwJx.ttf") format("opentype");
}

@font-face {
    font-family: LeblancFree;
    src: url("/static/fonts/LeblancFree-z8K0L.ttf") format("opentype");
}

body {
    background-color: #f9f9f5;
    font-family: "Inter", sans-serif;
}

.Screen {
    width: 100vw;
    /*TODO: Fix some styles */

    /*height: 100vh;*/
    position: relative;
    overflow: hidden;
}

#LeftPanel,
#RightPanel {
    width: 50vw;
    margin: 0px;
    position: relative;
    overflow: auto;
    z-index: 2;
}

#LeftPanel {
    left: 0px;
}

#RightPanel {
    right: 0px;
}

#Backdrop {
    z-index: 1;
}

#Main {
    z-index: 2;
    display: flex;
}

#Overlay {
    position: relative;
    z-index: 3000;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 10rem;
}

#Offscreen {
    position: absolute;
    z-index: 0;
    width: 0px;
    height: 0px;
    left: -100vw;
    top: 0px;
}

/* Style for the panel contents */
.panel-content {
    padding: 1rem;
}

/* Style for the settings panel (right side) */
#RightPanel {
    background-color: #f4f4f4;
}

.component-section {
    margin-top: 12px;
    padding: 1rem;
    border: 2px solid #212121;
    border-radius: 5px;
}

.component-section h3 {
    margin-bottom: 0.5rem;
}

.Oyster ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#LeftPanel .Oyster .visual {
    display: none;
}

.load {
    display: block;
}

.active > li > .visual {
    display: block !important;
}

.Toolbar > .active > li {
    display: block !important;
}

/* Inputs styling */
/* input, select {
    width: 100%;
    margin-bottom: 0.5rem;
} */

input[name="name"] {
    width: 40%;
}

.prop-type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prop-type-container select {
    flex-grow: 1;
    margin-right: 0.5rem;
}

.prop-type-container button {
    white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
}

#Offscreen {
    z-index: 0;
    left: -1000px;
    top: 0px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
}

/*#RightPanel .Oyster .Toolbar .mapper-pearl .visual {*/
/*    padding: 4px 5px;*/
/*    border: 2px solid black;*/
/*}*/

/*#RightPanel .Oyster .Toolbar .mapper-pearl .mappable-body {*/
/*    display: none;*/
/*}*/

#IconPicker {
    display: none;
    position: fixed;
    z-index: 100000;

    width: 300px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#IconPicker ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

#IconPicker ul li {
    margin: 5px;
}

.mapper-pearl {
    padding: 4px 5px;
}

#RightPanel:not(.bound) > .Oyster > .Toolbar > li.mapper-pearl,
div.mapper-field {
    background-color: #ffbf9f;
}

#RightPanel.bound > .Oyster > .Toolbar > li.mapper-pearl,
div.mapped {
    background-color: #b6fcaf;
}

.bound {
    display: hidden;
}

#LeftPanel.bound .mapped-source {
    display: none;
}
